<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!-- Azure AppService(Windows) の設定を変更するため。 Kestrel は関係がない -->
  <system.web>
    <!-- ~ 2GB -->
    <httpRuntime maxRequestLength="2147483647" />
  </system.web>
  <system.webServer>
    <security>
      <requestFiltering>
        <!-- ~ 4GB -->
        <requestLimits maxAllowedContentLength="4294967295" />
      </requestFiltering>
    </security>
  </system.webServer>
</configuration>