@{
    ViewData["Title"] = "利用規約";
}
<h1 class="display-4">@ViewData["Title"]</h1>

<h1 class="display-5">変更と通知</h1>
<p>当Webサイトは予告なく本規約の内容を変更する場合がありますので、あらかじめ御了承下さい。</p>

<h1 class="display-5">料金について</h1>
<p>当Webサイトのサービス利用料は無料です。</p>

<h1 class="display-5">禁止事項</h1>
<p>当Webサイトに過剰にアクセスすること。（サーバーが負荷でハングアップするぐらいでなければ特に問題ありません。）</p>

<h1 class="display-5">免責事項</h1>
<p>1. 当Webサイトは、当Webサイトの利用に起因する損害についてその責を負わないものとします。</p>
<p>2. 当Webサイトは、サービスの質に関して最大限維持するように努めますが、それを保証しないものとします。</p>
<p>3. 当Webサイト利用者が当Webサイトを通じて他者に損害を与えた場合、利用者は、自らの責任において問題を解決するものとします。</p>

<h1 class="display-5">個人情報について</h1>
<p>当Webサイトは個人情報を収集しません。</p>

<h1 class="display-5">その他</h1>
<p>よくある利用規約らしいことを記載しましたが、基本は当Webサイトを楽しく便利に利用していただければよいと考えています。</p>